.paginationControls {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  margin: auto;
}

@media screen and (max-width: 623px) {
  .paginationControls {
    width: auto;
    flex-direction: column;
  }
  .paginationControls > button,
  .paginationControls span {
    margin-bottom: 5px;
  }
}
