.recipeItem {
  text-align: left;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-origin: border-box;
  border: 1px solid #ccc;
  margin: 10px;
  width: 250px;
}

.recipeTitle:hover {
  cursor: pointer;
}

.recipePhoto {
  margin-bottom: 10px;
  height: 150px;
  object-fit: cover;
}

.recipe__tooltip {
  padding: 11px 25px;
  background: #ffffff;
  box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
  border-radius: 10px;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  height: 40px;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  display: none;
}

.recipe__tooltip_hidden {
  visibility: hidden;
}

.recipe__tooltip-keyword {
  display: block;
}

.recipe__icon-save_normal:hover {
  background-image: url(../../images/compressed/save-hover.png);
}

.btn-recipe {
  background-color: #ffffff;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  margin-left: 5px;
  outline: none;
}

.btn-recipe:hover {
  cursor: pointer;
}

.btn-recipe:hover + .recipe__tooltip {
  display: block;
  position: absolute;
  right: 45px;
}

.recipeContent {
  padding: 0 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipeContent a {
  text-decoration: none;
}

.recipeTitle {
  margin: 0 0 8px 0;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
  color: #1a1b22;
  overflow-y: hidden;
  text-overflow: ellipsis;
  min-height: 50px;
  height: 50px;
}

.recipeSource {
  font-family: 'Roboto Slab', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 20px;
  color: #b6bcbf;
  height: 20px;
  max-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 10px;
}

.categoryListItem {
  display: flex;
}
