.category {
  padding: 5px 10px;
  height: fit-content;
  border-radius: 15px;
  width: fit-content;
}

.breakfast {
  background: #95f3f3;
}

.lunch {
  background: #f395b3;
}

.dessert {
  background: #edf395;
}
