.regBtn {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 1rem;
  margin: 0 10px;
  width: fit-content;
}

.regBtn:hover {
  cursor: pointer;
}
.regBtn:disabled:hover {
  cursor: not-allowed;
}
